<div>
  <ng-container *ngIf="!isEditMode">
    <div>
      <ng-container *ngIf="link; else contentBlock">
        <a *ngIf="!isEditMode" [routerLink]="link">{{ content }}</a>
      </ng-container>
      <ng-template #contentBlock>
        {{ content }}
      </ng-template>

      <button *ngIf="isAuthenticated" (click)="enterEditMode()">
        <img src="assets/pen.png" alt="Edit" class="w-4 h-4 ml-2">
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="isEditMode">
    <textarea [class]="calculateRowCount() > 20 ? 'w-full h-150 resize-y' : 'w-full h-40 resize-y'" spellcheck="false" [(ngModel)]="editedContent" [rows]="calculateRowCount()" [cols]="100" (blur)="saveContent()" (keydown.enter)="saveContent()"></textarea>
    <button (click)="saveContent()">Save</button>
  </ng-container>
</div>