<!-- navigation.component.html -->

<nav class="bg-gray-800 p-4">
  <!-- Container for navigation content -->
  <div class="container mx-auto flex items-center justify-between space-x-4">

    <!-- Button to toggle the menu on small screens -->
    <button class="lg:hidden text-white focus:outline-none" (click)="isMenuCollapsed = !isMenuCollapsed">
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <!-- Brand/logo link -->
    <a class="text-xl font-bold text-white mr-4" routerLink="/">Landmarks App</a>

    <!-- Navigation links container -->
    <div class="lg:flex items-center space-x-2" [ngClass]="{'hidden': isMenuCollapsed, 'block': !isMenuCollapsed }">

      <!-- List of navigation links -->
      <ul class="flex items-center space-x-2 text-base">

        <!-- Home link -->
        <li>
          <a class="text-white hover:text-gray-300" routerLink="/" (click)="toggleMenu()">Home</a>
        </li>

        <!-- Admin link (visible only when not authenticated) -->
        <li *ngIf="!isAuthenticated">
          <a class="text-white hover:text-gray-300" (click)="openLoginModal(); toggleMenu()">Admin</a>
        </li>

        <!-- Logout link (visible only when authenticated) -->
        <li *ngIf="isAuthenticated">
          <a class="text-white hover:text-gray-300" (click)="logout(); toggleMenu()">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
