<!-- landmark-list.component.html -->

<div>
  <input class="w-full p-2 border rounded focus:outline-none focus:border-blue-500" type="search" placeholder="Search landmarks" [(ngModel)]="searchTerm" (input)="searchLandmarks()">
</div>

<!-- landmark-list.component.html -->

<div *ngFor="let landmark of filteredLandmarks" class="mb-4">
  <div class="bg-white shadow-sm p-4 rounded-lg">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <img
          [src]="landmark.photo_thumb"
          alt="{{ landmark.title }} Photo"
          (click)="openPhotoPopup(landmark.photo)"
          class="w-250 h-250 cursor-pointer object-cover object-center"
        />
      </div>
      <div class="flex flex-col justify-items-start align-bottom">
        <div class="flex items-center mb-2">
          <h5 class="text-xl font-semibold">
            <app-editable-content
              [content]="landmark.title"
              [isAuthenticated]="isAuthenticated"
            ></app-editable-content>
          </h5>
        
      
        </div>

        <p class="text-gray-600">
          <app-editable-content
            [content]="landmark.short_info"
            [isAuthenticated]="isAuthenticated"
          ></app-editable-content>
        
        
        </p>
      </div>
    </div>
  </div>
</div>
